*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(to right, #190d49, #5f405f);

}

.calculator-grid{
  display: grid;
  justify-content: center;
  margin-top: 3.5rem;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5,6rem);
} 

.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: rgba(255, 255, 255, .9);
}
.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75); 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-opr{
  color: rgba(255, 255, 255, .65);
  font-size: 1.5rem;
}
 
.output .current-opr{
  color: white;
  font-size: 2.5rem;
}

.nameplate{
  display: flex;
  color: white;
  align-items: flex-end;
  justify-content: flex-end;
  width: 925px;
  font-size: 1.1rem;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #190d49;
}